.css {
    height: 48px;
    padding: 8px 24px;
    font-size: 17px;
    line-height: 28px;
    border-radius: 3px;
}

label {
    top:-14px;
    left: 7px;
    animation: all 0.3s ease .2s;
}



    
