.collection_select {
    font-size: 12px;
    background-color: #fff;
    line-height: 29px;
    height: 43px;
    padding: 0 20px 0 15px;
    color: #1c1d1d;
    transition: opacity .4s ease-out;
    outline: none;
}