.grid_icons {
    width: 40px;
    padding: 0;
    height: 40px;
    margin: 0 5px;
    display: inline-block;
    background: #fff;
    border: 1px solid #c5cfd6;
    color: #2a2a2a;
    border-radius: 100%;
    line-height: 35px;
    cursor: pointer;
}