.rating_level_content {
    width: 100%;
    .star_count {
        width: 6%;
    }
    .overview {
        width: 10%;
        display: contents;
    }

    .bar_eval {
        border-radius: 5px;
        height: 8px;
        width: 200px;
        background-color:#ededed;

        .last_time_color {
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            border-radius: 5px;
            background-color:#d70018;
        }
    }
}